<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961524611216-iro0g1cnt0jvgdr4fdg96d938huhk94k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961524611216-iro0g1cnt0jvgdr4fdg96d938huhk94k</string>
	<key>API_KEY</key>
	<string>AIzaSyCSexDnN9BYhPLxIYFN3vPPsdxtbcT93nY</string>
	<key>GCM_SENDER_ID</key>
	<string>961524611216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.cyme.PhotoProFilm</string>
	<key>PROJECT_ID</key>
	<string>photoprofilm</string>
	<key>STORAGE_BUCKET</key>
	<string>photoprofilm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961524611216:ios:38788b8bdda45b05464015</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-7153595903380471~4835430918</string>
</dict>
</plist>